<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3G1XuM_Fu_lzQNtYLa0iqlPcSFHnHAuS79g&usqp=CAU"
        height="350px"
        width="100%"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text">Kitchen Story</h5>
        <p class="text">Where Every Flavor Tells A Story.....</p>
        <button (click)="order()" class="btn btn-outline-secondary">
          Order Now
        </button>
      </div>
    </div>
  </div>
</div>
